.columns {
  background-color: var(--gray-800);
  justify-content: space-around;
  display: flex;
  padding: 2% 0% 2% 0%;
}

.contact {
  width: 50%;
}

p {
  color: white;
}

h1 {
  letter-spacing: -1px;
  line-height: 1.2;
  color: #00ADB5;
}

h2 {
  color: white;
  font-weight: 500;
  line-height: 1.5;
  font-size: 20px;
}

.head-contact {
  align-items: center;
  display: flex;
  max-width: 350px;
}

@media (max-width: 850px) {
  .head-contact {
    display: none;
  }

  .contact {
    width: 100%;
  }
}

label {
  color: white;
}

.btn-solid {
  background-color: transparent;
  color: #00ADB5;
  border-color: #00ADB5;
}

.btn-solid:hover {
  background-color: #00ADB5;
  border-color: #00ADB5;
  color: white;
}

.btn-solid {
  font-family: var(--font-sans);
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  font-weight: 600;
  transition: all 0.3s linear;
  position: relative;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  width: fit-content;
  border-radius: 12px;
}

@media (min-width: 1200px) {
  .btn-solid {
    padding: 10px 24px;
    font-size: calc(var(--font-size-base) * 0.9);
  }
}